rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /students/{studentId} {
      allow read, create: if request.auth != null; // Allow read access to students
      allow read, create, delete, update: if request.auth != null &&
          request.auth.token.role == 'admin'
      match /private/{document=**} {
        allow read, create, delete, update: if request.auth != null &&
          request.auth.token.role == 'admin'
      }
    }
    match /teachers/{teacherId} {
      allow read: if request.auth != null; // Allow read access to teacher
    }
    match /roles/{role} {
        allow read: if request.auth != null;
    }
    match /users/{user} {
        allow read: if request.auth != null;
    }
  }
}